html
{
    /*Fundo cinza de todas as telas*/
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body
{
    /*Fundo branco cabeçalho*/
    background-color: #fff;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

.imgCategorias
{
    width: 90px;
    height: 70px;
}

.divListaCategorias
{
    background-color: gray;
    border-radius: 4px;
}

#headerListaItens
{
    background-color: gray;
    color: white;
    font-weight: bold;
}

.columChkItensLista
{
    text-align: center;
}

.imgCategListItensHoriz
{
    width: 100px;
    height: 70px;
}

#divContainerCateg
{
    padding: 20px 40px 30px 40px;
    position: absolute;
    width: 110px;
    height: 400px;
    background-color: white;
    margin-left: 40px;
    margin-top: 60px;
    border-radius: 4px;
}

#divContainerItens
{
    padding: 20px 40px 30px 40px;
    position: absolute;
    width: 900px;
    height: 400px;
    background-color: white;
    margin-left: 270px;
    margin-top: 60px;
    border-radius: 4px;
}

#headerItensCarrinho
{
    background-color: gray;
    color: white;
    font-weight: bold;
}

.iconItensCarrinho
{
    width: 55px;
    height: 25px;
}

.centerContet
{
    text-align: center;
}

a
{
    cursor: pointer;
}


header, footer,
nav, section
{
    display: block;
}

mark
{
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left
{
    float: left;
}


.float-right
{
    float: right;
}

.clear-fix:after
{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


h4
{
    font-size: 1.1em;
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}


/* main layout
----------------------------------------------------------*/
.content-wrapper
{
    margin: 0 auto;
    max-width: 960px;
}

#body
{
    clear: both;
    padding-bottom: 35px;
}

.main-content
{
    background: url("../Images/accent.png") no-repeat;
    padding-left: 10px;
    padding-top: 30px;
}

header .content-wrapper
{
    padding-top: 20px;
}

footer
{
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}


/* site title
----------------------------------------------------------*/
.site-title
{
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

    .site-title a, .site-title a:hover, .site-title a:active
    {
        background: none;
        color: #c8c8c8;
        outline: none;
        text-decoration: none;
    }


hr
{
    display: block;
    border-style: inset;
    border-width: 1px;
}

/* page elements
----------------------------------------------------------*/
/* featured */
.featured
{
    background-color: #fff;
}

    .featured p
    {
        font-size: 1.1em;
    }

/* features */
section.feature
{
    width: 300px;
    float: left;
    padding: 10px;
}



.label
{
    font-weight: 700;
}

label
{
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

    label.checkbox
    {
        display: inline;
    }

/*Inputs: Botões, checkBox, textAreas*/
input, textarea
{
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea
{
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus
    {
        border: 1px solid #7ac0da;
    }

input[type="checkbox"]
{
    background: transparent;
    border: inherit;
    width: auto;
}

input[type="submit"],
input[type="button"],
button
{
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
}

td input[type="submit"],
td input[type="button"],
td button
{
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
}




/* tables
----------------------------------------------------------*/
table
{
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}



td
{
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td
{
    padding: 0 0.25em 0 0;
}

#listaItens
{
    padding: 20px 40px 30px 40px;
    position: absolute;
    width: 110px;
    height: 400px;
    background-color: white;
    margin-left: 40px;
    margin-top: 60px;
    border-radius: 4px;
}

.divCategorias
{
    /*Categorias tela inicial*/
    padding: 20px 40px 30px 40px;
    position: absolute;
    width: 500px;
    height: 330px;
    overflow: auto;
    background-color: white;
    margin-left: 650px;
    margin-top: 60px;
    border-radius: 4px;
}

.divExibirCategorias
{
    overflow: auto;
    height: 335px;
    width: 145px;
}

.divApresentacao
{
    padding: 20px 40px 30px 40px;
    position: absolute;
    width: 500px;
    height: 330px;
    background-color: white;
    margin-left: 40px;
    margin-top: 60px;
    border-radius: 4px;
}

.divListaItensGeral
{
    /*Div categorias da tela inicial*/
    padding: 20px 40px 30px 40px;
    position: absolute;
    width: 100px;
    height: 60px;
    background-color: gray;
    border-radius: 4px;
    cursor: pointer;
}

#divPadaria
{
    margin-left: 320px;
}

#divLaticinios
{
    margin-top: 120px;
}

#divCarnes
{
    margin-top: 120px;
    margin-left: 320px;
}

.divConteudo
{
    padding: 20px 40px 30px 40px;
    position: absolute;
    width: 1100px;
    height: 400px;
    background-color: white;
    margin-left: 40px;
    margin-top: 60px;
    border-radius: 4px;
}

.divCarregarProdutos
{
    overflow: auto;
    height: 270px;
}

.divTituloPedido
{
    padding: 20px 40px 30px 40px;
    position: absolute;
    width: 1100px;
    height: 70px;
    background-color: white;
    margin-left: 40px;
    margin-top: 60px;
    border-radius: 4px;
    text-align: center;
}

#divTituloInicio
{
    float: right;
    width: 700px;
    float: right;
}

.divIconeLaticinio
{
    width: 90px;
    height: 70px;
    background-image: url(../icons/cheese-icon.png);
}

.divDadosPedido
{
    padding: 20px 40px 30px 40px;
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: white;
    margin-top: 220px;
    border-radius: 4px;
    text-align: center;
}

#divItensPedidos
{
    width: 500px;
    margin-left: 40px;
    overflow: auto;
}

#divDadosCliente
{
    width: 485px;
    margin-left: 650px;
}

.divDadosClienteCompra
{
    padding: 10px 40px 30px 40px;
    position: absolute;
    width: 450px;
    height: 460px;
    background-color: white;
    margin-left: 40px;
    margin-top: 60px;
    border-radius: 4px;
}

.divMensagemAgradecimento
{
    padding: 20px 40px 30px 40px;
    position: absolute;
    width: 450px;
    height: 140px;
    background-color: white;
    margin-left: 600px;
    margin-top: 60px;
    border-radius: 4px;
}

#divMensagem
{
    margin-top: 320px;
}

.cabecalhoFecharCompra
{
    background-color: gray;
    color: white;
}

.celulaFecharCompra
{
    padding: 5px;
}

#divSubtotal
{
    margin-left: 850px;
}

#divTabelaProdutos
{
    overflow: auto;
    width: 850px;
    height: 250px;
}

#divProdutos
{
    padding: 5px 5px 5px 5px;
    width: 700px;
}

#divProdutosCarrinho
{
    padding: 5px 5px 5px 5px;
    width: 800px;
}

.imgItensCarrinho
{
    width: 30px;
    height: 30px;
}

.divTituloCategoria
{
    color: gray;
}

.divLargura
{
    width:30px;
}
.divOpcoes
{
    padding: 20px 40px 30px 40px;
    position: absolute;
    width: 900px;
    height: 400px;
    background-color: white;
    margin-left: 270px;
    margin-top: 60px;
    border-radius: 4px;
}

.divBotoesCategoria
{
    width: 100px;
    height: 70px;
}

#divLogoMarca
{
    width: 200px;
    height: 60px;
}

.headerProdNome
{
    text-align: left;
    width: 195px;
    background-color: gray;
    color: white;
}

.headerProdDescricao
{
    text-align: left;
    margin-top: -19px;
    margin-left: 210px;
    width: 250px;
    background-color: gray;
    color: white;
}

.headerProdQtde
{
    margin-top: -19px;
    margin-left: 470px;
    width: 50px;
    background-color: gray;
    color: white;
}



.rowProdNome
{
    text-align: left;
    margin-top: 0px;
    width: 195px;
    color: black;
    margin-top: 10px;
}

.rowProdDescricao
{
    text-align: left;
    margin-top: -19px;
    margin-left: 210px;
    width: 250px;
    color: black;
}

.rowProdQtde
{
    text-align: center;
    margin-top: -19px;
    margin-left: 470px;
    width: 50px;
    color: black;
}



.headerClienteNome
{
    text-align: left;
    width: 500px;
    background-color: gray;
    color: white;
    font-size: 18px;
}

.headerClienteEndereco
{
    text-align: left;
    width: 500px;
    margin-top: 1px;
    background-color: gray;
    color: white;
    font-size: 18px;
}

.headerClienteTelefone
{
    text-align: left;
    width: 500px;
    margin-top: 1px;
    background-color: gray;
    color: white;
    font-size: 18px;
}

.headerClienteEmail
{
    text-align: left;
    width: 500px;
    margin-top: 1px;
    background-color: gray;
    color: white;
    font-size: 18px;
    color: white;
}

.headerClienteValorTotal
{
    text-align: left;
    width: 500px;
    margin-top: 1px;
    background-color: gray;
    color: white;
    font-size: 18px;
    color: white;
}

/* ----- */
.divFinalPedido
{
    font-size: 15px;
    color: black;
    font-weight: bold;
}

#divNumPedido
{
    font-size: 15px;
    color: red;
    font-weight: bold;
}

.listaProdutosCheckBox
{
    width: 80px;
    height: 20px;
    background-color: gray;
    margin-top: 5px;
    color: white;
    font-weight: bold;
}

.listaProdutosNome
{
    width: 400px;
    height: 20px;
    margin-left: 90px;
    margin-top: -20px;
    background-color: gray;
    color: white;
    font-weight: bold;
}

.listaProdutosPreco
{
    width: 80px;
    height: 20px;
    margin-left: 500px;
    margin-top: -20px;
    background-color: gray;
    color: white;
    font-weight: bold;
}

.listaProdutosLink
{
    width: 80px;
    margin-left: 600px;
    margin-top: -20px;
    background-color: gray;
    color: white;
    font-weight: bold;
}

.rowProdutosCheckBox
{
    width: 80px;
    height: 20px;
    margin-top: 5px;
    font-weight: bold;
}

.rowProdutosNome
{
    width: 400px;
    height: 20px;
    margin-left: 90px;
    margin-top: -20px;
    font-weight: bold;
}

.rowProdutosPreco
{
    width: 80px;
    height: 20px;
    margin-left: 500px;
    margin-top: -20px;
    font-weight: bold;
}

.rowProdutosLink
{
    width: 80px;
    margin-left: 600px;
    margin-top: -20px;
    font-weight: bold;
}

.gridEmpty
{
    margin-top: 2px;
    width: 680px;
    text-align: center;
}


.itemCarrinhoImg
{
    width: 80px;
    margin-left: 0px;
    color: white;
    margin-top: 0px;
    background-color: gray;
}

.itemCarrinhoNome
{
    width: 320px;
    margin-left: 85px;
    color: white;
    margin-top: -20px;
    background-color: gray;
}

.itemCarrinhoQtde
{
    width: 80px;
    margin-left: 420px;
    color: white;
    margin-top: -20px;
    background-color: gray;
}

.itemCarrinhoPreco
{
    width: 80px;
    margin-left: 505px;
    color: white;
    margin-top: -20px;
    background-color: gray;
}

.itemCarrinhoLnk
{
    width: 80px;
    margin-left: 600px;
    color: white;
    margin-top: -20px;
    background-color: gray;
}
