@{
    ViewBag.Title = "Início";
}
@section featured {
    <div class="divApresentacao">
        <h4 style="color: gray">Somos o Grupo Carofour, pioneiros no varejo brasileiro.</h4>

        <br />
        <hr />

        <p>Desde de 1975 no Brasil, reunimos uma equipe com mais de 70.000 colaboradores que representam a diversidade deste país. Junto com os nossos fornecedores e parceiros, estamos comprometidos em satisfazer e encantar os consumidores todos os dias, construindo a nossa história com a sociedade.</p>

        <p>Nas mais de 200 lojas e nos diferentes pontos de contatos, nos relacionamos com mais de um milhão de pessoas todos os dias.</p>

        <p>As pessoas estão no centro do nosso negócio e, por isso, estamos abertos ao aprendizado constante e a buscar uma melhor maneira em tudo que fazemos.</p>

        <p>Desde de 1975 no Brasil, reunimos uma equipe com mais de 70.000 colaboradores que representam a diversidade deste país. Junto com os nossos fornecedores e parceiros, estamos comprometidos em satisfazer e encantar os consumidores todos os dias, construindo a nossa história com a sociedade.</p>
    </div>

    <div class="divCategorias">

        <h4 style="color: gray">Categorias</h4>

        <br />
        <hr />

        <div class="divListaItensGeral">
            <a href="@Url.Action("Index", "ListaItens")">
                <img src="~/icons/apple.png" class="imgCategorias" title="Hortifrutigranjeiros"/></a>
        </div>

        <div id="divPadaria" class="divListaItensGeral">
            <a href="@Url.Action("Index", "ListaItens")">
                <img src="~/icons/cake.png" class="imgCategorias" title="Padaria" /></a>
        </div>

        <div id="divLaticinios" class="divListaItensGeral">
            <a href="@Url.Action("Index", "ListaItens")">
                <img src="~/icons/cheese-icon.png" class="imgCategorias" title="Laticínios" />
                
            </a>
            
                 
        </div>

        <div id="divCarnes" class="divListaItensGeral">
            <a href="@Url.Action("Index", "ListaItens")">
                <img src="~/icons/lettuce.png" class="imgCategorias" title="carnes"/></a>
        </div>

    </div>

}

