@{
    ViewBag.Title = "DadosPedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <div class="divTituloPedido">
        Pedido Realizado com Sucesso.

        <br />

        Número Pedido: 1928
    </div>

    <div ID="divItensPedidos" class="divDadosPedido">
        
        Laranja: 5 Unidades
        <br />
        Banana: 10 Unidades
        <br />
        Cenoura: 50 Unidades
        <br />
        Laranja: 5 Unidades
        <br />
        Total: 10,99
    </div>

    <div id="divDadosCliente" class="divDadosPedido">
        Cliente: Bruno Leite
        <br />
        <br />
        Endereço: Rua da PUC
        Telefone (31)9300-0000
    </div>
}
