@{
    ViewBag.Title = "DadosPedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <div style="padding: 20px 40px 30px 40px; position:absolute; width:480px; height:70px; background-color:white; margin-left:40px; margin-top:60px; -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; border-radius: 4px; text-align:center;">    
        Pedido Realizado com Sucesso.

        <br />

        Número Pedido: 1928
    </div>

    <div style="padding: 20px 40px 30px 40px; position:absolute; width:310px; height:200px; background-color:white; margin-left:40px; margin-top:220px; -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; border-radius: 4px; text-align:center">    
        Laranga: 5 Unidades <br />
        Banana: 10 Unidades <br />
        Cenoura: 50 Unidades <br />
        Laranga: 5 Unidades <br />
    </div>

    <div style="padding: 20px 40px 30px 40px; position:absolute; width:310px; height:200px; background-color:white; margin-left:470px; margin-top:220px; -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; border-radius: 4px;">    
        Cliente: Walter Alves da Silva <br />
        E-mail: juninhonativa121@Hotmail.com <br />
        Endereço: Doutor Otávio Avelar, 58 - Industrial / Contagem
        Telefone (31)9351-6638
    </div>
}
