@{
    ViewBag.Title = "FecharCompra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <div class="divDadosClienteCompra">

        <table>
            <tr style="background-color: gray; color: white">
                <td style="padding: 5px;" colspan="2">Dados Pessoais</td>
            </tr>
            <tr>
                <td style="padding: 5px;">Nome:*</td>
                <td>
                    <input type="text" style="height: 10px;" id="txtNome" name="txtNome" /></td>
            </tr>
            <tr>
                <td style="padding: 5px;">Data Nascimento:*</td>
                <td>
                    <input type="text" style="height: 10px;" id="txtDataNascimento" /></td>
            </tr>
            <tr>
                <td style="padding: 5px;">Sexo:*</td>
                <td>
                    <select>
                        <option>Feminino
                        </option>
                        <option>Masculino
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="padding: 5px;">E-mail:*</td>
                <td>
                    <input type="text" style="height: 10px;" /></td>
            </tr>
            <tr>
                <td style="padding: 5px;">Endereço*</td>
                <td>
                    <input type="text" style="height: 10px;" /></td>
            </tr>
            <tr>
                <td style="padding: 5px;">Telefone*</td>
                <td>
                    <input type="text" style="height: 10px;" /></td>
            </tr>
            <tr>
              @*  <td colspan="2" style="text-align:right"><a href="@Url.Action("DadosPedido","Carrinho")"></a></td>*@
                <td>
                    <input type="button" value="Enviar" onclick="return validarFormularioCompra();"></td>
            </tr>
             @*<tr>
                <td colspan="2" style="text-align:right"><a href="@Url.Action("DadosPedido","Carrinho")"><input type="button" value="Enviar2"></a></td>                
            </tr>*@
            
             
        </table>
        *Campos Obrigatórios

    </div>

    <div class="divMensagemAgradecimento">
        As compras devem ser entregue com no prazo máximo de 8 horas a partir da efetivação do pagamento.
        <br />
       É um compromisso do Carofour entregar seus produtos de forma rápida e eficiente.
       
        <br />
        Parabéns pela compra!

    </div>

    <div id="divMensagem" class="divMensagemAgradecimento">
       As compras devem ser entregue com no prazo máximo de 8 horas a partir da efetivação do pagamento.
        <br />
        É um compromisso do Carofour entregar seus produtos de forma rápida e eficiente.
        <br />
        Parabéns pela compra!
    </div>
}
