@{
    ViewBag.Title = "FecharCompra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <div class="divDadosClienteCompra">

        <table>
            <tr class="cabecalhoFecharCompra">
                <td class="celulaFecharCompra" colspan="2">Dados Pessoais</td>
            </tr>
            <tr>
                <td class="celulaFecharCompra">Nome:*</td>
                <td>
                    <input type="text" id="txtNome" name="txtNome" /></td>
            </tr>
            <tr>
                <td class="celulaFecharCompra">Data Nascimento:*</td>
                <td>
                    <input type="text" id="txtDataNascimento" /></td>
            </tr>
            <tr>
                <td class="celulaFecharCompra">Sexo:*</td>
                <td>
                    <select>
                        <option>Feminino
                        </option>
                        <option>Masculino
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="celulaFecharCompra">E-mail:*</td>
                <td>
                    <input type="text" id="txtEmail"/></td>
            </tr>
            <tr>
                <td class="celulaFecharCompra">Endereço*</td>
                <td>
                    <input type="text"  id="txtEndereco"/></td>
            </tr>
            <tr>
                <td class="celulaFecharCompra">Telefone*</td>
                <td>
                    <input type="text" id="txtTelefone"  OnKeyUp="return formataTelefone(this,event);"/></td>
            </tr>
            <tr>             
                <td>
                    <input type="button" value="Enviar" onclick="return validarFormularioCompra();"></td>
               
            </tr>           
            
             
        </table>
        *Campos Obrigatórios

    </div>

    <div class="divMensagemAgradecimento">
        As compras devem ser entregue com no prazo máximo de 8 horas a partir da efetivação do pagamento.
        <br />
       É um compromisso do Carofour entregar seus produtos de forma rápida e eficiente.
       
        <br />
        Parabéns pela compra!

    </div>

    <div id="divMensagem" class="divMensagemAgradecimento">
       As compras devem ser entregue com no prazo máximo de 8 horas a partir da efetivação do pagamento.
        <br />
        É um compromisso do Carofour entregar seus produtos de forma rápida e eficiente.
        <br />
        Parabéns pela compra!
    </div>
}
