@{
    ViewBag.Title = "FecharCompra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Negocio.Model.Cliente

@section featured {
    @using (Html.BeginForm("DadosPedido", "Carrinho", FormMethod.Post, new { @id = "frmEnviaCliente", @name = "frmEnviaCliente" }))
    {
        <div class="divDadosClienteCompra">
            <table>
                <tr class="cabecalhoFecharCompra">
                    <td class="celulaFecharCompra" colspan="2">Dados Pessoais</td>
                </tr>
                <tr>
                    <td class="celulaFecharCompra">Nome: *</td>
                    <td>
                        <input type="text" id="_NomeCompleto" name="_NomeCompleto" />
                    </td>
                </tr>
                <tr>
                    <td class="celulaFecharCompra">Data Nascimento: *</td>
                    <td>
                        <input type="text" id="_DataNascimento" name="_DataNascimento" />
                    </td>
                </tr>
                <tr>
                    <td class="celulaFecharCompra">Sexo: *</td>
                    <td>
                        <select id="_Sexo" name="_Sexo">
                            <option value="F">
                                Feminino
                            </option>
                            <option value="M">
                                Masculino
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="celulaFecharCompra">E-mail: *</td>
                    <td>
                        <input type="text" id="_Email" name="_Email" />
                    </td>
                </tr>
                <tr>
                    <td class="celulaFecharCompra">Senha: *</td>
                    <td>
                        <input type="password" id="_Senha" name="_Senha" />
                    </td>
                </tr>
                <tr>
                    <td class="celulaFecharCompra">Endereço *</td>
                    <td>
                        <input type="text" id="_Endereco" name="_Endereco" />
                    </td>
                </tr>
                <tr>
                    <td class="celulaFecharCompra">Telefone *</td>
                    <td>
                        <input type="text" id="_Telefone" name="_Telefone" maxlength="14" />
                    </td>
                </tr>                
                <tr>
                    <td>
                        <input type="submit" value="Enviar">
                    </td>
                </tr>

            </table>

            * Campos Obrigatórios

        </div>

        <div id="divFormasPagamento" class="divMensagemAgradecimento">
            Selecione a forma de pagamento:
            <br />
            <br />
            <input type="radio" name="formaPagamento" value="boleto" >Boleto bancário    <br />      
      
             <input type="radio" name="formaPagamento" value="credito">Cartão de crédito       
            <br />

        </div>

        <div id="divMensagem" class="divMensagemAgradecimento">
          <strong> Total da compra: </strong>@ViewBag.TotalCompra
            <br />
            <strong>Valor do frete: </strong>10,00
            <br />
            <strong>Valor total a pagar:</strong> @ViewBag.TotalPagar
        </div>
    }
}
