@{
    ViewBag.Title = "Carrinho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <div class="divConteudo">
        
        <div style="margin-left:850px;">
            <span>Subtotal: R$ 16,99</span>
        </div>

        <br /> <hr />

        <div>
            <div class="float-left">
                <a href="@Url.Action("Index","Carrinho")"><input type="button" id="btnLimparCarrinho" name="btnLimparCarrinho" value="Limpar Carrinho" /></a>
            </div>

            <div class="float-left">
                <a href="@Url.Action("Index","ListaItens")"><input type="button" id="btnContinuarCompras" name="btnContinuarCompras" value="Continuar Compras" /></a>
            </div>

            <div class="float-left">
                <a href="@Url.Action("FecharCompra","Carrinho")"><input type="button" id="btnFecharCompra" name="btnFecharCompra" value="Fechar Compras" /></a>
            </div>
        </div>      

        <br /><br /><br /><br />

        <div style="overflow:auto; width:850px; height:250px;">
            <table style="padding: 5px 5px 5px 5px; width:800px">                
                <tr ID="headerItensCarrinho">
                    <td class="centerContet">&nbsp;</td>
                    <td>Nome / Descrição</td>
                    <td style="text-align:center;">Quantidade</td>
                    <td class="centerContet">Preço R$</td>
                    <td>&nbsp;</td>                        
                </tr>                               
                <tr>
                    <td class="centerContet"><img src="~/icons/apple.png" style="width:55px; height:25px;" /></td>
                    <td>Produto 1 - Descrição</td>
                    <td class="centerContet">1</td>
                    <td class="centerContet">10,30</td>
                    <td><a href="#">Atualizar</a><a href="3">Remover</a></td>
                </tr>
                <tr>
                    <td class="centerContet"><img src="~/icons/cake.png" style="width:55px; height:25px;" /></td>
                    <td>Produto 2 - Descrição</td>
                    <td class="centerContet">2</td>
                    <td class="centerContet">1,23</td>
                    <td><a href="#">Atualizar</a><a href="3">Remover</a></td>
                </tr>
                <tr>
                    <td class="centerContet"><img src="~/icons/edit_clear.png" style="width:55px; height:25px;" /></td>
                    <td>Produto 2 - Descrição</td>
                    <td class="centerContet">2</td>
                    <td class="centerContet">1,23</td>
                    <td><a href="#">Atualizar</a><a href="3">Remover</a></td>
                </tr>
                <tr>
                    <td class="centerContet"><img src="~/icons/lettuce.png" style="width:55px; height:25px;" /></td>
                    <td>Produto 3 - Descrição</td>
                    <td class="centerContet">3</td>
                    <td class="centerContet">2,23</td>
                    <td><a href="#">Atualizar</a><a href="3">Remover</a></td>
                </tr>
                <tr>
                    <td class="centerContet"><img src="~/icons/apple.png" style="width:55px; height:25px;" /></td>
                    <td>Produto 4 - Descrição</td>
                    <td class="centerContet">4</td>
                    <td class="centerContet">3,23</td>
                    <td><a href="#">Atualizar</a><a href="3">Remover</a></td>
                </tr>
                <tr>
                    <td class="centerContet"><img src="~/icons/cake.png" style="width:55px; height:25px;" /></td>
                    <td>Produto 4 - Descrição</td>
                    <td class="centerContet">5</td>
                    <td class="centerContet">3,23</td>
                    <td><a href="#">Atualizar</a><a href="3">Remover</a></td>
                </tr>
                <tr>
                    <td class="centerContet"><img src="~/icons/edit_clear.png" style="width:55px; height:25px;" /></td>
                    <td>Produto 3 - Descrição</td>
                    <td class="centerContet">6</td>
                    <td class="centerContet">2,23</td>
                    <td><a href="#">Atualizar</a><a href="3">Remover</a></td>
                </tr>   
                <tr>
                    <td class="centerContet"><img src="~/icons/lettuce.png" style="width:55px; height:25px;" /></td>
                    <td>Produto 4 - Descrição</td>
                    <td class="centerContet">7</td>
                    <td class="centerContet">3,23</td>
                    <td><a href="#">Atualizar</a><a href="3">Remover</a></td>
                </tr>      
                <tr>
                    <td class="centerContet"><img src="~/icons/apple.png" style="width:55px; height:25px;" /></td>
                    <td>Produto 1 - Descrição</td>
                    <td class="centerContet">8</td>
                    <td class="centerContet">10,30</td>
                    <td><a href="#">Atualizar</a><a href="3">Remover</a></td>
                </tr>       
                <tr>
                    <td class="centerContet"><img src="~/icons/cake.png" style="width:55px; height:25px;" /></td>
                    <td>Produto 2 - Descrição</td>
                    <td class="centerContet">2</td>
                    <td class="centerContet">1,23</td>
                    <td><a href="#">Atualizar</a><a href="3">Remover</a></td>
                </tr>
                <tr>
                    <td class="centerContet"><img src="~/icons/apple.png" style="width:55px; height:25px;" /></td>
                    <td>Produto 1 - Descrição</td>
                    <td class="centerContet">1</td>
                    <td class="centerContet">10,30</td>
                    <td><a href="#">Atualizar</a><a href="3">Remover</a></td>
                </tr>
                <tr>
                    <td class="centerContet"><img src="~/icons/cake.png" style="width:55px; height:25px;" /></td>
                    <td>Produto 2 - Descrição</td>
                    <td class="centerContet">2</td>
                    <td class="centerContet">1,23</td>
                    <td><a href="#">Atualizar</a><a href="3">Remover</a></td>
                </tr>
            </table>
        </div>
 

    </div>
}
