@{
    ViewBag.Title = "Carrinho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <div class="divConteudo">
        
        <div id="divSubtotal">
            <span>Subtotal: R$ 16,99</span>
        </div>

        <br /> <hr />

        <div>
            <div class="float-left">
                <a href="@Url.Action("Index","Carrinho")"><input type="button" id="btnLimparCarrinho" name="btnLimparCarrinho" value="Limpar Carrinho" /></a>
            </div>

            <div class="float-left">
                <a href="@Url.Action("Index","ListaItens")"><input type="button" id="btnContinuarCompras" name="btnContinuarCompras" value="Continuar Compras" /></a>
            </div>

            <div class="float-left">
                <a href="@Url.Action("FecharCompra","Carrinho")"><input type="button" id="btnFecharCompra" name="btnFecharCompra" value="Fechar Compras" /></a>
            </div>
        </div>      

        <br /><br /><br /><br />

        <div id="divTabelaProdutos">
            <table id="divProdutosCarrinho">                
                <tr ID="headerItensCarrinho">
                    <td class="centerContet"></td>
                    <td>Nome / Descrição</td>
                    <td class="columChkItensLista">Quantidade</td>
                    <td class="centerContet">Preço R$</td>
                    <td></td>                        
                </tr>                               
                <tr>
                    <td class="centerContet"><img src="~/icons/apple.png" class="imgItensCarrinho" /></td>
                    <td>Produto 1 - Descrição</td>
                    <td class="centerContet">1</td>
                    <td class="centerContet">10,30</td>
                    <td><a href="#">Atualizar</a><a href="#">Remover</a></td>
                </tr>
                <tr>
                    <td class="centerContet"><img src="~/icons/cake.png" class="imgItensCarrinho" /></td>
                    <td>Produto 2 - Descrição</td>
                    <td class="centerContet">2</td>
                    <td class="centerContet">1,23</td>
                    <td><a href="#">Atualizar</a><a href="#">Remover</a></td>
                </tr>
                <tr>
                    <td class="centerContet"><img src="~/icons/edit_clear.png" class="imgItensCarrinho" /></td>
                    <td>Produto 2 - Descrição</td>
                    <td class="centerContet">2</td>
                    <td class="centerContet">1,23</td>
                    <td><a href="#">Atualizar</a><a href="#">Remover</a></td>
                </tr>
                <tr>
                    <td class="centerContet"><img src="~/icons/lettuce.png" class="imgItensCarrinho" /></td>
                    <td>Produto 3 - Descrição</td>
                    <td class="centerContet">3</td>
                    <td class="centerContet">2,23</td>
                    <td><a href="#">Atualizar</a><a href="#">Remover</a></td>
                </tr>
                <tr>
                    <td class="centerContet"><img src="~/icons/apple.png" class="imgItensCarrinho" /></td>
                    <td>Produto 4 - Descrição</td>
                    <td class="centerContet">4</td>
                    <td class="centerContet">3,23</td>
                    <td><a href="#">Atualizar</a><a href="#">Remover</a></td>
                </tr>
                <tr>
                    <td class="centerContet"><img src="~/icons/cake.png" class="imgItensCarrinho" /></td>
                    <td>Produto 4 - Descrição</td>
                    <td class="centerContet">5</td>
                    <td class="centerContet">3,23</td>
                    <td><a href="#">Atualizar</a><a href="#">Remover</a></td>
                </tr>
                <tr>
                    <td class="centerContet"><img src="~/icons/edit_clear.png" class="imgItensCarrinho" /></td>
                    <td>Produto 3 - Descrição</td>
                    <td class="centerContet">6</td>
                    <td class="centerContet">2,23</td>
                    <td><a href="#">Atualizar</a><a href="#">Remover</a></td>
                </tr>   
                <tr>
                    <td class="centerContet"><img src="~/icons/lettuce.png" class="imgItensCarrinho" /></td>
                    <td>Produto 4 - Descrição</td>
                    <td class="centerContet">7</td>
                    <td class="centerContet">3,23</td>
                    <td><a href="#">Atualizar</a><a href="#">Remover</a></td>
                </tr>      
                <tr>
                    <td class="centerContet"><img src="~/icons/apple.png" class="imgItensCarrinho" /></td>
                    <td>Produto 1 - Descrição</td>
                    <td class="centerContet">8</td>
                    <td class="centerContet">10,30</td>
                    <td><a href="#">Atualizar</a><a href="#">Remover</a></td>
                </tr>       
                <tr>
                    <td class="centerContet"><img src="~/icons/cake.png" class="imgItensCarrinho" /></td>
                    <td>Produto 2 - Descrição</td>
                    <td class="centerContet">2</td>
                    <td class="centerContet">1,23</td>
                    <td><a href="#">Atualizar</a><a href="#">Remover</a></td>
                </tr>
                <tr>
                    <td class="centerContet"><img src="~/icons/apple.png" class="imgItensCarrinho" /></td>
                    <td>Produto 1 - Descrição</td>
                    <td class="centerContet">1</td>
                    <td class="centerContet">10,30</td>
                    <td><a href="#">Atualizar</a><a href="#">Remover</a></td>
                </tr>
                <tr>
                    <td class="centerContet"><img src="~/icons/cake.png" class="imgItensCarrinho" /></td>
                    <td>Produto 2 - Descrição</td>
                    <td class="centerContet">2</td>
                    <td class="centerContet">1,23</td>
                    <td><a href="#">Atualizar</a><a href="#">Remover</a></td>
                </tr>
            </table>
        </div>
 

    </div>
}
